.login-container {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI';
}

.login-left{
    flex: 1;
    background: linear-gradient(to buttom right, #4d66ff, #79aaff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    position: relative;
}

.doctor-image {
    width: 60%;
    max-width: 300px;
    border-radius: 10px;
}

.login-right{
    flex:1;
    background: #fff;
    display:flex;
}
.copyright {
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
}

